@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-color:steelblue; color:brown">
        <h1 class="text-center"><marquee>ADMISSION GOING ON</marquee></h1>
        <h4 class="text-center" style="color:blueviolet">WELCOME TO VISIT OUR SITE.</h4><br />
      
    </div>

<div class="row">
    <div class="col-md-3">
        <h2 style="color:blue">Submitted By:</h2>
        <p>
            <i class="fa fa-user"></i>Rubel Rana<br />
            <span style="font-family:'Times New Roman'">
                ID: 1249804<br />
            </span>
            <span><a href="mailto:ranarubel38439.rr@gmail.com"><i class="fa-envelope-open"></i> Email: ranarubel38439.rr@gmail.com</a></span>
        </p>
    </div>
    <div class="col-md-5">
        <h2 style="color:blue">Benefits</h2>
        <p>
            <span><i class="fa fa-square">Opportunity to achieve a professional IT career in only one year or less</i></span>
            <br />
            <span><i class="fa fa-square">Achieve international recognition of skills through Vendor Certification</i></span>
            <br />
            <span><i class="fa fa-square">Job placement service</i></span>
            <br/>
            <span><i class="fa fa-square">Completely free with no hidden cost involved</i></span>
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color:blue">Used Pakages</h2>
        <p>
            <span><i class="fa fa-square">Microsoft.AspNet.Identity.EntityFramework</i></span>
            <br />
            <span><i class="fa fa-square"> Microsoft.AspNet.Identity.Core</i></span>
            <br />
            <span><i class="fa fa-square">Microsoft.AspNet.Identity.Owin</i></span>
            <br />
            <span><i class="fa fa-square">Microsoft.Owin.Host.SystemWeb</i></span>
            <br />
            <span><i class="fa fa-square">Microsoft.jQuery.Unobtrusive.Ajax</i></span>
            <br />
            <span><i class="fa fa-square">Microsoft.jQuery.Unobtrusive.Validation</i></span>
            <br />
            <span><i class="fa fa-square">PagedList.Mvc</i></span>
            <br />
            <span><i class="fa fa-square">Bootstrap</i></span>
            <br />
            <span><i class="fa fa-square">FontAwesome</i></span>
        </p>
    </div>
</div>
